:root {
	/* Colors */
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;

	/* Fonts */
	--font-family: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;


	--font-weight-medium: 500;

	/* Others */
	--items: 4;
	--col-indent: 24px;
	--row-indent: var(--col-indent);
	
	/* Animation */
	--anim-fast: 250ms;
}

body {
	font-family: var(--font-family);
	color: var(--slate);
	background-color: var(--white);
	line-height: 1.5;
	letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
	color: var(--ocean);
}

button {
	cursor: pointer;
}

h2, h3 {
	color: var(--navy-blue);
	letter-spacing: 0.02em;
}

h2 {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	
}

h3 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: var(--font-weight-medium);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

button {
	font-family: inherit;
	color: currentColor;
	cursor: pointer;
	border: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;

	/* outline: 2px solid red;
	outline-offset: -2px; */
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section:not(.hero-image) {
	padding: 120px 0;
}

/*#region Socials common*/
.socials {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 24px;
}

.socials-item-link {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--iris);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item-link:hover,
.socials-item-link:focus {
	background-color: var(--ocean);
}

.social-icon {
	fill: var(--cloud);
}
/* #endregion */

/*#region Card set */
.cards {
	display: flex;
	flex-wrap: wrap;
	row-gap: var(--row-indent);
	column-gap: var(--col-indent);
}

.section-title {
	margin-bottom: 72px;
}

.card {
	width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}

.card-content {
	padding: 32px 16px;
}

.card-title {
	margin-bottom: 8px;
}

/* #endregion */

/*#region Header*/
.header {
	border-bottom: 1px solid var(--cornflower);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
	display: flex;
	align-items: center;
}

.logo {
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 700;
	color: var(--iris);
	text-transform: uppercase;
	line-height: 1.17;
	letter-spacing: 0.03em;
}

.header-logo {
	margin-right: 76px;
}

.header-logo span {
	color: var(--navy-blue)
}

.nav-menu,
.contacts-list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.contacts {
	flex-grow: 1;
}

.contacts-list {
	justify-content: flex-end;
}

.nav-menu-link {
	color: var(--navy-blue);
	font-weight: var(--font-weight-medium);
	position: relative;
}

.nav-menu li:first-child .nav-menu-link {
	color: var(--ocean)
}

.nav-menu li:first-child .nav-menu-link::after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--ocean);
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	border-radius: 2px;
}

.nav-menu-link,
.contact-link {
	display: block;
	padding: 24px 0;
}
/*#endregion */

/*#region Hero*/
.hero-image {
	max-width: 1440px;
	padding: 188px 0;
	margin: 0 auto;
	background-color: var(--navy-blue);
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--white);

}

.hero-image .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.hero-text {
	max-width: 496px;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
}

.hero-button {
	min-width: 169px;
	font-family: inherit;
	color: inherit;
	background-color: var(--iris);
	font-weight: var(--font-weight-medium);
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 16px 32px;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--ocean);
}
/*#endregion */

/*#region Advantages*/
.advantages .card-icon {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 23px 0;
	border: 1px solid var(--light-slate);
	border-radius: 4px;
	background: var(--cloud);
	margin-bottom: 8px;
}
/*#endregion */

/*#region Team*/
.team {
	background-color: var(--cloud);
}

.team .card {
	text-align: center;
	background-color: var(--white);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .card-content {
	padding: 32px 0;
}

.team .card-content .card-text {
	margin-bottom: 8px;
}
/*#endregion */

/*#region Portfolio*/
.portfolio .cards {
	row-gap: 48px;
}

.portfolio .card {
	width: calc((100% - var(--col-indent) * (2)) / 3);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card:hover {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio .card-content {
	border-bottom: 1px solid var(--cornflower);
	border-left: 1px solid var(--cornflower);
	border-right: 1px solid var(--cornflower);
}

.portfolio .card-img-wrapper {
	position: relative;
	overflow: hidden;
}

.card-img-description {
	position: absolute;
	background: var(--iris);
	padding: 40px 32px;
	top: 0;
	height: 100%;
	color: var(--cloud);
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card:hover .card-img-description {
	transform: translateY(0%);
}
/*#endregion */

/*#region Footer*/
footer {
	color: var(--cloud);
	background-color: var(--navy-blue);
	padding: 100px 0;
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.footer-col-1 {
	margin-right: 120px;
}

.footer-col-2 {
	margin-right: 80px;
}

.footer .logo {
	display: inline-block;
	margin-bottom: 16px;
}

.footer-logo {
	color: var(--cloud);
}

.footer-text {
	max-width: 264px;
}

.footer .socials {
	gap: 16px;
}

.footer-socials-header,
.subcribe-title {
	font-size: inherit;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 16px;
}

.footer .socials-item-link:hover,
.footer .socials-item-link:focus {
	background-color: var(--green);
}

.subscribe-form {
	display: flex;
	gap: 24px;
}

.subscribe-input {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	border: 1px solid var(--white);
	border-radius: 4px;
	width: 264px;
	height: 40px;
	background-color: transparent;
	padding: 8px 16px;
	color: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
	color: var(--white);
}

.subscribe-btn {
	min-width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	color: var(--white);
}

.subscribe-icon {
	fill: var(--white);
	margin-left: 16px;
}
/*#endregion */

/* #region Modal window*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--navy-blue-modal);
	transition: opacity var(--anim-fast) cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition-delay: 600ms;
}

.backdrop.is-open {
	opacity: 1;
	pointer-events: initial;
	visibility: visible;
	transition-delay: 0s;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 408px;
	min-height: 584px;
	padding: 72px 24px 24px 24px;
	background: var(--dairy);
	border-radius: 4px;
	opacity: 0;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-open .modal {
	opacity: 1;
	transition-delay: 400ms;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: var(--cornflower);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	transition: background-color var(--anim-fast) cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	border: none;
	background-color: var(--ocean);
}

.modal-close-icon {
	fill: var(--navy-blue);
	transition: fill var(--anim-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
	fill: var(--white);
}

.modal-caption {
	color: var(--navy-blue);
	font-weight: 500;
	margin-bottom: 16px;
	line-height: 1.5;
	text-align: center;
}

.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal-form-field {
	margin-bottom: 8px;
}

.comment {
	margin-bottom: 16px
}

.modal-form-label {
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--light-slate);
}

.modal-form-wrapper {
	position: relative;
}

.modal-form-input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 8px 38px;
	line-height: 1.71;
	border-radius: 4px;
	border: 1px solid var(--navy-blue-modal);
	background-color: transparent;
	outline: transparent;
	transition: border-color var(--anim-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
	border-color: var(--iris);
}

.modal-form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	fill: var(--navy-blue);
	transition: fill var(--anim-fast) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
	fill: var(--iris);
}

.modal-form-comment {
	display: block;

	width: 100%;
	height: 120px;
	padding: 8px 16px;
	font-size: 12px;
	line-height: 1.17;
	color: rgba(46, 47, 66, 0.4);
	letter-spacing: 0.04em;
	border-radius: 4px;
	border: 1px solid var(--navy-blue-modal);
	outline: transparent;
	resize: none;
	background-color: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
	border-color: var(--iris)
}

.modal-form-comment::placeholder {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--navy-blue-modal);
}

.modal-form-agreement {
	margin-bottom: 24px;
}

.modal-form-desc {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--light-slate);
}

.modal-form-link {
	line-height: 133%;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--iris);
}

.modal-form-checkbox-icon {
	fill: var(--cloud);
}

.modal-form-checkbox {
	fill: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border-radius: 2px;
	border: 1px solid var(--navy-blue-modal);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
		border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox:checked + .modal-form-desc > .modal-form-checkbox {
	border: none;
	background-color: var(--ocean);
	fill: var(--cloud);
}

.send-btn {
	color: var(--white);
	display: block;
	margin: 0 auto;
	width: 169px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */